<main role="main">
    <div class="col-md-12">
        <div class="row">
            <div class="col col-7" style="padding: 20px;">
                <div class="page-header">
                    <h1>{{'reals.REALS'|translate}}</h1>
                </div>
                <div class="bs-content table-responsive">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">{{'reals.NAME'|translate}}</th>
                                <th scope="col">{{'reals.FIRSTNAME'|translate}}</th>
                                <th scope="col">{{'reals.DATE'|translate}}</th>
                                <th scope="col">{{'reals.DET'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let realisateur of realisateurs">
                            <tr class="table">
                                <td>{{realisateur.id}}</td>
                                <td>{{realisateur.nom}}</td>
                                <td>{{realisateur.prenom}}</td>
                                <td>{{realisateur.date}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" (click)="btnClick(realisateur.id);">
                                        {{'reals.DET'|translate}}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col col-5" style="padding: 20px;">
                <div *ngIf="addingForm.submitted" class="alert alert-info">
                    Form submitted
                </div>
                <form #addingForm="ngForm" (ngSubmit)="processAddingForm(addingForm)">
                    <fieldset>
                        <legend>{{'reals.form.ADDD'|translate}}</legend>
                        <div class="form-group row">
                            <div class="col col-sm-6">
                                <label for="prenom"
                                    class="col-sm-2 col-form-label">{{'reals.FIRSTNAME'|translate}}</label>
                                <input id="prenom" type="text" name="prenom" class="form-control"
                                    placeholder="Enter FirstName" #posterPrenom="ngModel" ngModel required>
                                <div *ngIf="posterPrenom.invalid && (posterPrenom.touched || posterPrenom.dirty)">
                                    <div *ngIf="posterPrenom.errors.required" class="alert alert-danger">
                                        {{'reals.form.FNREQ'|translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <label for="nom" class="col-sm-4 col-form-label">{{'reals.NAME'|translate}}</label>
                                <input id="nom" type="text" placeholder="Entrer Name" name="nom" class="form-control"
                                    #posterNom="ngModel" ngModel required>
                                <div *ngIf="posterNom.invalid && (posterNom.touched || posterNom.dirty)">
                                    <div *ngIf="posterNom.errors.required" class="alert alert-danger">
                                        {{'reals.form.NREQ'|translate}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="col  col-12">
                                <label for="date" class="col-sm-8 col-form-label">{{'reals.DATE'|translate}}</label>
                                <input id="date" type="date" class="form-control" name="date" #posterDate="ngModel"
                                    ngModel required>
                                <div *ngIf="posterDate.invalid && (posterDate.touched || posterDate.dirty)">
                                    <div *ngIf="posterDate.errors.required" class="alert alert-danger">
                                        {{'reals.form.DREQ'|translate}}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="btn btn-group">
                            <button class="btn btn-success" [disabled]="addingForm.invalid"
                                type="submit">{{'reals.form.ADD'|translate}}</button>
                            <button class="btn btn-outline-primary"
                                type="reset">{{'reals.form.CANCEL'|translate}}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>