<footer>
    <div class="container-fluid footer bg-primary" style="color: rgb(207, 207, 207);  ">
        <div class="row" style="padding: 10px;">

            <div class="col col-12 col-sm-8">

                <p>{{'footer.FE1' | translate}}</p>
                <p>{{'footer.FE2' | translate}}</p>
                <p>{{'footer.FE3' | translate}}</p>
            </div>
            <div class="col col-sm-4 text-right">
                <a class="btn btn-outline-success btn-md" role="button">Contact</a>

                <div class="container" style="margin-top: 10px;">

                    <a href="https://www.facebook.com/quentin.bihare" target="_blank">
                        <i class="fa fa-facebook-square fa-inverse"></i> Facebook
                    </a>
                    <a href="https://www.linkedin.com/in/quentinbihare/" target="_blank">
                        <i class="fa fa-linkedin-square fa-inverse"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>