<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" routerLink="">{{'header.PROJECT' | translate}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" routerLink="">{{'header.HOME' | translate}}</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="film">Films</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="realisateur">{{'header.REALS' | translate}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <div class="btn-group">
                    <button [class]="{'btn':true, 'btn-primary':true, 'btn-info':language==='fr'}" (click)="useLanguage('fr')">FR</button>
                    <button [class]="{'btn':true, 'btn-primary':true, 'btn-info':language==='en'}" (click)="useLanguage('en')">EN</button>
                </div>
            </ul>
        </div>
    </nav>
</header>